# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
tfplan

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
